folium==0.14.0
geopandas==0.10.2
geopy==2.3.0
googlemaps==4.7.3
jsonpath==0.82
jsonpath_python==1.0.6
matplotlib==3.5.2
numpy==1.21.6
pandas==1.5.3
pandas_stubs==1.2.0.62
pydeck==0.7.1
regex==2022.9.13
scikit_learn==1.2.1
selenium==4.8.0
streamlit==1.17.0
streamlit_folium==0.11.0
webdriver_manager==3.8.5
